<a href="https://colab.research.google.com/github/AYOOBBHAT/Ai-ML/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
pd_series=pd.Series([2,34,56],index=["a","b","c"])

In [6]:
print(pd_series['b'])

34

In [8]:
newPd=pd.DataFrame([[22,34,56],[34,57,89]],index=['a','b'])

In [13]:
newPd = pd.DataFrame([[22, 34, 56], [34, 57, 89]], index=['a', 'b'], columns=['x', 'y', 'z'])
print(newPd['y'])  # now this works

a    34
b    57
Name: y, dtype: int64